a {
  text-decoration: none;
  text-transform: none;
}

.cover-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/Children1.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/Children1.jpg');
  background-position: 0px 0px, 50% 24%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  opacity: 1;
  line-height: 23px;
}

.link-group {
  position: static;
  left: -150px;
  top: 100px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 35px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Open Sans', sans-serif;
  color: #02b168;
  font-weight: 700;
  text-transform: uppercase;
}

.link-item:hover {
  color: #ec5900;
}

.link-item.link-story:hover {
  color: #00d8a8;
}

.link-item.link-donate-pink {
  color: #ec5a02;
}

.section-template {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 750px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  -webkit-transition: background-color 372ms cubic-bezier(.455, .03, .515, .955);
  transition: background-color 372ms cubic-bezier(.455, .03, .515, .955);
}

.section-template.our-story {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .73), rgba(0, 0, 0, .73)), url('../images/what-we-do-background.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .73), rgba(0, 0, 0, .73)), url('../images/what-we-do-background.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section-template.cover-img {
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: none;
}

.section-template.what-we-do {
  height: 630px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #fff;
}

.section-template.get-involved {
  background-color: transparent;
}

.section-template-paragraph {
  width: 95%;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: hsla(0, 0%, 100%, .85);
  font-size: 3.8em;
  line-height: 57px;
  font-weight: 700;
  text-align: center;
}

.section-template-paragraph.what-we-do-paragraph {
  width: auto;
  color: #006d49;
  font-size: 1.9em;
  line-height: 35px;
}

.section-template-paragraph.our-story-paragraph {
  width: 80%;
  color: #fff;
  font-size: 1.8em;
  line-height: 35px;
  text-align: center;
}

.section-template-paragraph.get-involved-paragraph {
  color: rgba(0, 0, 0, .64);
  font-size: 3.3em;
}

.section-template-headline {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 4em;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-template-headline.what-we-do-headline {
  color: #00d8a8;
  font-size: 3.4em;
  text-transform: uppercase;
}

.section-template-headline.get-involed {
  color: #00d48d;
}

.section-template-headline.get-involved-headline {
  font-size: 3.9em;
  line-height: 66px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.responsive-column-group {
  margin-top: 30px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.responsive-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-filter: none;
  filter: none;
}

.responsive-column.scholarship {
  background-image: url('../images/scholarship.jpg');
  background-position: 50% 30%;
  background-size: 390px;
  background-repeat: no-repeat;
}

.responsive-column.scholarship:hover {
  border-left-style: solid;
  border-left-color: #fff;
  background-image: url('../images/scholarship.jpg');
  background-position: 50% 30%;
  background-size: 390px;
  background-repeat: no-repeat;
}

.responsive-column.giving-book {
  background-image: url('../images/giving_book.jpg');
  background-position: 50% 102%;
  background-size: 514px;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.responsive-column.giving-book:hover {
  background-image: url('../images/giving_book.jpg');
  background-position: 50% 102%;
  background-size: 514px;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.responsive-column.job-assistance {
  background-image: url('../images/job-assistance.jpg');
  background-position: 50% -124px;
  background-size: auto 600px;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.responsive-column.job-assistance:hover {
  background-image: url('../images/job-assistance.jpg');
  background-position: 50% -124px;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.responsive-column-title {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: rgba(0, 0, 0, .48);
  color: #fff;
}

.icon:hover {
  background-color: rgba(0, 0, 0, .6);
  opacity: 1;
}

.nav-link {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 30px -2px #a9a9a9;
}

.nav-link.w--open {
  background-color: transparent;
}

.blv-logo {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: transparent;
  opacity: 1;
  text-align: right;
}

.blv-logo-1 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 1.7em;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 1px;
}

.blv-logo-1.blv-logo-small {
  color: #00d8a8;
  font-size: 1em;
  font-weight: 400;
}

.dash {
  width: 143px;
  height: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #fff;
}

.dash.dash-black {
  border-bottom-color: #00d48d;
}

.section-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #000;
  background-color: #00d8a8;
}

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.button-template {
  width: 180px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-template.feature-event-button {
  width: auto;
  border: 2px solid #008257;
  background-color: #fff;
  color: #008257;
  line-height: 29px;
}

.button-template.donation-button {
  background-color: #ff1b8e;
}

.button-template.donation-button:hover {
  background-color: #006d49;
}

.button-template.voluntourism-button {
  background-color: #7516a4;
}

.button-template.voluntourism-button:hover {
  background-color: #006d49;
}

.tour-of-book-highlight {
  font-family: Vollkorn, serif;
  color: #006d49;
  font-size: 2.3em;
}

.blv-logo-img {
  position: static;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.slider {
  width: 600px;
  height: 400px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.slide-education-1 {
  background-image: url('../images/Education1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-background {
  height: 150px;
}

html.w-mod-js *[data-ix="appear-at-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 78px);
  -ms-transform: translate(0px, 78px);
  transform: translate(0px, 78px);
}